/* Base */
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
/* header */
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-decoration: none;
}

.logo-span {
  font-style: italic;
}

.nav {
  margin-right: 90px;
  margin-left: auto;
}
.nav-list {
  display: flex;
  gap: 24px;
}
/* .nav-list-item {
  margin-right: 24px;
} */

.nav-link {
  display: block;
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-decoration: none;

  padding: 12px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}
.list-icon {
  display: flex;
  gap: 14px;
}
.link-icon {
  display: block;
  padding: 20px 0;
}

/* hero */

.hero-cont {
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.7);
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.hero-btn-buy {
  border-radius: 100px;
  background-color: var(--orange, #fd9222);
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.hero-btn-buy:hover,
.hero-btn-buy:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.hero-btn-hov {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
}
.hero-btn-hov:hover,
.hero-btn-hov:focus {
  border: 1px solid #fd9222;
  color: #fd9222;
}
.hero-btn-scr {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero-btn-scr:hover,
.hero-btn-scr:focus {
  color: #fd9222;
}

/* Benefits */

.benefits {
  background-color: #1e1823;
  padding: 50px 0;
}

.benefits-title {
  color: #1e1823;
}

.benefits-list {
  display: flex;
  gap: 88px;
  margin: 0 18px;
}

.benefits-list-item {
  width: calc((100% - 176px) / 3);
}

.benefits-list-item-title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.22;
  margin-bottom: 18px;
}

.benefits-list-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.products{
  padding: 60px 0;
}

.products-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
  
}

.products-title{
  width: 412px;
  margin: 0 auto;
  text-align: center;
  color: var(--black, #111);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.products-list-item{
  text-align: center;
  padding: 32px 20px;
  border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #FFF;
    width: calc((100% - 3 * 18px) / 4);
}

.products-list-title{
color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
  margin-top: 8px;
}

.products-list-text{
color: rgba(17, 17, 17, 0.70);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}

.products-btn{
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #FAFAFA;
    color: #111;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
      min-width: 94px;
      min-height: 33px;
}